@model eshop.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<p>Current images:</p>
@foreach (ProductImage item in (List<ProductImage>)ViewData["ProductImages"])
{
    <img src="~/uploads/products/@item.Image" width="100" />
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryId" class="control-label">SubCategory</label>
                <select asp-for="SubCategoryId" class="form-control" asp-items="ViewBag.SubCategoryId"></select>
                <span asp-validation-for="SubCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OffPercentage" class="control-label"></label>
                <input asp-for="OffPercentage" class="form-control" />
                <span asp-validation-for="OffPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarCount" class="control-label"></label>
                <input asp-for="StarCount" class="form-control" />
                <span asp-validation-for="StarCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFiles" class="control-label"></label>
                <input accept="image/*" asp-for="ImageFiles" class="form-control" />
                <span asp-validation-for="ImageFiles" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsNew" /> @Html.DisplayNameFor(model => model.IsNew)
                </label>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
